apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
- target:
    kind: Service
    name: kargo-demo
  patch: |-
    - op: replace
      path: /spec/ports/0/nodePort
      value: 30088
- target:
    kind: Rollout
    name: kargo-demo-rollout
  patch: |-
    - op: replace
      path: /spec/strategy/canary/steps/2/analysis/args/0/value
      value: kargo-demo-staging
