apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
- target:
    kind: Service
    name: kargo-demo
  patch: |-
    - op: replace
      path: /spec/ports/0/nodePort
      value: 30089
- target:
    kind: Rollout
    name: kargo-demo-rollout
  patch: |-
    - op: replace
      path: /spec/strategy/canary/steps/2/analysis/args/0/value
      value: kargo-demo-prod
    - op: add
      path: /spec/template/spec/containers/-
      value:
        name: stress
        image: polinux/stress:latest
        command: ["stress"]
        args: ["--vm", "1", "--vm-bytes", "256M", "--vm-hang", "0"]
        resources:
          requests:
            memory: 64Mi
          limits:
            memory: 512Mi
- target:
    kind: AnalysisTemplate
    name: canary-check
  patch: |-
    - op: replace
      path: /spec/metrics
      value:
        - name: canary-memory-check
          provider:
            prometheus:
              address: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
              query: |
                max(
                  sum(
                    container_memory_working_set_bytes{
                      namespace="kargo-demo-prod",
                      pod=~"kargo-demo-rollout-.*",
                      container!="",
                      container!="POD"
                    }
                  ) by (pod)
                ) / 1024 / 1024
          successCondition: result[0] < 150
          interval: 10s
          count: 3
          failureLimit: 1
